<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>
<body>

<h2>{{Detail Menu}}</h2>
<div id="decoraiotn">
<ul>
  <li><a href="#home">{{decoration.decoration_name}}</a></li>
  <li><a href="#news">{{decoration.decoration_champion}}</a></li>
  <li><a href="#contact">{{decoration.decoration_part}}</a></li>
  <li ><ahref="#about">{{decoration.decoration_rarelity}}</a></li>
  <li ><ahref="#about">{{decoration.decoration_average_price}}</a></li>

</ul>
</div>

<ul>
  
  <li><a href="#home">{{item.item_id}}</a></li>
  <li><a href="#news">{{item.item_type}}</a></li>
  <li><a href="#contact">{{item.decoration_average_price}}</a></li>
  <li><a href="#about">{{item.price}}</a></li>
  <li><a href="#about">{{item.pub_date}}</a></li>
</ul>

</body>
</html>
