<header>
	<h1>Latest Items</h1>
</header>

<body>
{% if latest_item_list %}
    <ul>
    {% for item in latest_item_list %}
        <li>
        	<a href="{% url 'decoration_app:detail' item_id %}">
        		<div>
        			<ul>
        				<li>{{ item.item_type }}</li>
        				<li>{{ item.price }}</li>
        				<li>{{ f"publish on {item.pub_date }}}</li>
        				<li>{{ f"by {item.publisher_id }}}</li>
        			</ul>
        		</div>
        	</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}
</body>

<footer>
	
</footer>